<h1 class="title mx-5">Seleccione una Categoría</h1><br>
    <div class="container-fluid ">
        <a href="/biografia" class="d-grid gap-2 col-6 mx-auto btn btn-warning">Biografía</a><br>
        <a href="/cienciaficcion" class=" d-grid gap-2 col-6 mx-auto btn btn-warning">Ciencia Ficción</a><br>
        <a href="/drama" class="d-grid gap-2 col-6 mx-auto btn btn-warning">Drama</a><br>
        <a href="/historia" class="d-grid gap-2 col-6 mx-auto btn btn-warning">Historia</a><br>
        <a href="/infantil" class="d-grid gap-2 col-6 mx-auto btn btn-warning">Literatura Infantil</a><br>
        <a href="/juvenil" class="d-grid gap-2 col-6 mx-auto btn btn-warning">Literatura Juvenil</a><br>
        <a href="/misterio" class="d-grid gap-2 col-6 mx-auto btn btn-warning">Misterio</a><br>
        <a href="/poesia" class="d-grid gap-2 col-6 mx-auto btn btn-warning">Poesía</a><br>
        <a href="/romance" class="d-grid gap-2 col-6 mx-auto btn btn-warning">Romance</a><br>
        <a href="/terror" class="d-grid gap-2 col-6 mx-auto btn btn-warning">Terror</a>
    </div>

