<div class="p-5 mb-4 bg-transparent rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">El Rincon Literario - Inventario</h1>
        <p class="lead"> Bienvenido al sistema de gestion de inventario.</p>
        <a class="btn btn-warning btn-lg" type="button" href="/categories"> Ir al Inventario de Libros </a>
        <hr class="my-4">
        <p> Esta es la plataforma de gestion de inventario de la libreria El Rincon Literario. </p>
        
        
        
    </div>       
</div>